/***************************************************
 *
 * Sitewide CSS 
 *
 ***************************************************/
body{
  margin:0;
  padding:0;
  font-family:Helvetica;
}

.parcel_container{
  width:200%;
  margin-left:2em;
}

.col{
  border:.3em solid black;
  margin-right:.5em;
  float:left;
  background:#AAA;
}

.all_cols .col .page_frame,
.all_cols .col{
  max-width:25em;
  max-height:40em;
  overflow-x:hidden;
  overflow-y:scroll;
  padding:.5em .5em;
}

.rss_entry{
  background:#FFF;
  padding:.5em .5em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  margin-bottom:.5em;
}

.colclear{
  clear:left;
}

.restrictect{
  overflow-y:hidden;
}

/***************************************************
 *
 * CSS for RSS
 *
 ***************************************************/

.entry_summary{
  font-style:italic;
}
