{% extends "base.html" %}
{% block content %}

<form action="" method="post">
  {% csrf_token %}    
  {{form.as_p}}
  <input class="btn" type="submit" name="add" id="add">
</form>

{% if object_list %}
<div class="all_cols">
    <div class="col">
        {% for obj in object_list %}
        <div>
            <div>{{ obj.url }}</div>
            {% if obj.entries %}
                <div class="rss_entry">
                    {% for entry in obj.entries_old_to_new|slice:"3" %}
                        {% autoescape off %}
                        {{ entry.render }}
                        {% endautoescape %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}
