{% extends "base.html" %}
{% load parcel_filters %}

{% block content %}
<div class="all_cols row">
  {% for key, val in obj_cols.iteritems %}
    {% if val.entries %}
        <div class="col row-fluid" id="{{ key }}">
            {% for entry in val.entries %}
                <div class="rss_entry" id="entry{{ entry.pk }}">
                    {% autoescape off %}
                    {{ entry.render }}
                    {% endautoescape %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
  {% endfor %}
  <div class="colclear"></div>
</div>
{% endblock content %}
