{% extends "base.html" %}
{% load parcel_filters %}

{% block content %}
FOO 
{{ test }}
BAR
{{ rss_objects }}
END
{% comment %}
<div class="all_cols row">
  <div class="col">
      <iframe class="page_frame" seamless="seamless" src="{{ col1.0|http_prepend }}"></iframe>
  </div>
  <div class="col">
      <iframe class="page_frame" seamless="seamless" src="{{ col2.0|http_prepend }}"></iframe>

  </div>
  <div class="col">
      <iframe class="page_frame" seamless="seamless" src="{{ col3.0|http_prepend }}"></iframe>
  </div>
  <div class="colclear"></div>
</div>

{% endcomment %}

{% endblock content %}
